@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --Dark-blue: #0B0D17;
    --DarkL-lght: #D0D6F9;
    --White: #FFFFFF;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* 1rem = 10px */
    color: #FFFFFF
}

#spacing {
    letter-spacing: 2.7;
}